@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./image/background.jpg) no-repeat center center / cover;
    position: relative;
}

.pop-up {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pop-up #btn-close {
    position: absolute;
    color: darkred;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.pop-up #btn-close:hover {
    color: red;
}
